# Ignore node_modules directory
node_modules/

# Ignore YouTube folder as it contains API key
YouTube/


# Ignore log files
*.log

# Ignore .env file
.env

# Ignore .pdf file
.pdf"MovieLens/genome-scores.csv" 
"MovieLens/ratings.csv" 
